@import url('sidebars.css');
@import url('owl.carousel.css');
@import url('owl.theme.default.min.css');
@import url('aos.css');
@import url('media-queries.css');
@import url('font-face.css');

body {
    height: 100%;
    content: '';
    width: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.row {
    --bs-gutter-x: 0!important;
}
.sidebar li a{
    font-family: 'Manjari Regular';
    color: white;
}
.navbar-transparent {
  padding:25px 0px 20px 0px;
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0)!important;
}
.navbar-transparent .nav-item a {
  color: white;
  border: 1px solid rgba(31, 31, 31, 0);
  border-radius: 30px;
  transition: .4s;
}
.navbar-transparent .nav-item a:hover {
  background-color: rgb(37, 14, 34);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(31, 31, 31);
}
.header {
  background: url(../images/svg/svg1.svg);
  height: 590px;
  padding-top: 90px;
  margin-bottom: 20px;
}
.header h5{
  color:rgb(28 17 17);
  font-size: 70px;
  font-family: 'Sen';
  margin-bottom: 0px;
}
.header h4 {
  color:rgb(28 17 17);
  font-size: 20px;
  font-family: 'Poppins';
  margin-bottom: 0px;
}
.header .message , .header .message a {
  color: white;
  font-size: 18px;
  font-family: 'Quicksand';
}
.header-text {
  text-align: center;
}
.minimalist-container {
  text-align: center;
}
.minimalist {
  width: 60%;
}
.greetings {
  text-align: center;
}
.greetings img {
  width: 40%;
}
.greetings .message {
  text-align: center;
  font-size: 13px;
  font-family: 'Lexend';
  color: #4d4d4d;
}
.greetings .card-body {
  padding: 0px!important;
}
.greetings .card-title {
  margin-top: 15px!important;
}
.title {
  font-family: 'Alata Regular'!important;
}
.paragraph , .information{
    font-family: 'Lexend Deca';
    text-align: justify;
}
.project-title {
  text-align: center;
  font-size: 15px;
  font-family: 'Quicksand';
  font-weight: 300;
}
.work-items, .information-items, .education-items {
  font-family: 'Quicksand';
}
.personal-information-container {
    margin-top: 45px;
}
.my-sidebar {
  width: 280px;
  height: 100%; 
  position: fixed; 
  background-color: #121212!important
}
.project-image-container {
  padding: 0px;
}
.project-title {
  font-family: 'Sen';
  font-size: 20px;
}
.project-description {
  font-size: 13px;
  text-align: center;
  font-family: 'Lexend';
}
.project-stack button{
  font-size: 12px!important;
  font-family: 'Lexend';
}

footer {
  text-align: center;
}
.owl-theme .owl-controls .owl-page {
  display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}


::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  /* border-radius: 10px; */
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #363636;
}

